.nav-bar-container{
    
   
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays above other elements */
    background-color: #fff; /* Optional: Add a background color to make it visible */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*Optional: Add a slight shadow for better visibility*/

}



.navigation-items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    width: 165px;
}

.search-element-cart-and-menu-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 80px;
    padding: 0px;
}

.category-text{
    font-size: 14px;

}

.contact-us-text{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


@media (max-width:720px) {
    .navbar-search-element-container{
        display: none;
    }

   
    
}
.navbar-icons{
    cursor: pointer;
}

@media (min-width:720px) {
     .nav-bar-container{
        padding: 10px;
    }

    .navbar-icons{
        font-size: 30px;
    }

    .search-element-cart-and-menu-icon-container{
        
        width: 300px;
      
    }
    
}


  