.footer-container{
    padding: 10px;
    background-color: #000000;
    color: #ffffffff;
}

.logo-email-container{

}

.footer-paragraph-elements{
    cursor: pointer;
}

.credentials-sub-items{
    margin-left: 20px;
}

.container-1 p:hover{
    color: red;
}

.container-2 p:hover{
    color: red;
}

.container-3 p:hover{
    color: red;
}

.credentials-container{
    margin-bottom: 50px;
}

@media (min-width:720px) {
    .credentials-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    
}

.footer-email-text-and-email-input-container{
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;


}

.footer-copy-right-text-container{
    text-align: center;
}