


.App{
  padding: 10px;
  padding-bottom: 0px;
  /* background-image: url("composition-black-friday-shopping-cart-with-copy-space.jpg"); */
  background-size: cover;
  font-family: "Open Sans";
}

.cursor-pointer{
  cursor: pointer;
}






